<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="Interval" value="10000"/>
    <add key="HookHandlers" value="HttpHook, PingHook, ServiceHook, SqlServerHook"/>
    <add key="ServerUrl" value="http://status.csl-inn.co.uk/"/>
  </appSettings>
</configuration>
