@model SystemStatusViewModel[]

@section scripts{

    <script src="~/Scripts/knockout-3.3.0.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/flot/jquery.flot.min.js"></script>
    <script src="~/Scripts/flot/jquery.flot.time.min.js"></script>
    <script src="~/Scripts/flot/jquery.flot.resize.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>

    <script src="/signalr/hubs"></script>
    <script src="~/Scripts/Views/Common.js"></script>
    <script src="~/Scripts/Views/Home/Index.js"></script>
    <script type="text/javascript">
        var rawSystemStatusModel = @Html.ModelToJsonRaw();
    </script>
}

@{
    ViewBag.Title = "System Status";
}

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary btn-lg add-app-button" type="button" data-bind="click: CreateSystem" title="Create App">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
        </button>
    </div>
</div>
<div class="row">
    <ul class="app-list" data-refreshall="@Url.Action("RefreshAll", "Home")" data-bind="template: { name: 'systemItemTemplate', foreach: items, as: 'item' }"></ul>
</div>

<div id="system-create-section" data-url="@Url.Action("CreateSystemDialog", "Home")"></div>

@Html.Partial("_Templates")




