

<script type="text/html" id="systemItemTemplate">
    <li class="system-item" >
        <div class="system-item-inner" data-bind="css: StatusClass">

            <a data-bind="attr:{ href: DrillDownUrl}">
                <h1 data-bind="text: Name"></h1>
            </a>
    
            <div class="subsystem-status">

                <ul class="subsystem-pip-list" data-bind="template: { name: 'subSystemItemTemplate', foreach: SubSystems, as: 'item' }"></ul>
               
                <span class="pull-right subsystem-status-text">
                    <button type="button" class="btn btn-xs btn-link" data-bind="click: ViewGroup, attr: { title: Name }">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </span>
             
            </div>
          

        </div>
    </li>
</script>

<script type="text/html" id="subSystemItemTemplate">

   <li>
       <a data-bind="attr: { href: DrillDownUrl , title: Text }">
           <span class="label label-default" data-bind="css: StatusClass, text: Text"></span>
       </a>
   </li>

</script>

<script type="text/html" id="appItemTemplate">
    <li class="app-item" data-bind="">
        <div class="app-item-inner" data-bind="css: AppStatusClass">
            <h4 data-bind="text: Name">
               
            </h4>
            
            <p>
                <span data-bind="if: AgentName" class="app-item-description">
                    Agent :
                    <span data-bind="text: AgentName"></span>
                </span>
            </p>
            @*<p>
                    <span class="app-item-description" data-bind="text: Description"></span>
                </p>*@
            <span class="app-item-status" data-bind="css: AppStatusTextClass"><small data-bind="text: AppStatusText"></small>

                <span class="pull-right">
                    <button class="btn btn-xs btn-link" type="button" title="Edit Application" data-bind="click: drilldown"><span class="glyphicon glyphicon-dashboard"></span></button>
                    <button class="btn btn-xs btn-link" type="button" title="Drilldown Application" data-bind="click: edit"><span class="glyphicon glyphicon-pencil"></span></button>


                </span>

            </span>
        </div>
    </li>
</script>