

<script type="text/html" id="systemItemTemplate">
    <li class="system-item" data-bind="click: ViewGroup">
        <div class="system-item-inner" data-bind="css: StatusClass">
            <h1 data-bind="text: Name"></h1>
        </div>
    </li>
</script>


<script type="text/html" id="appItemTemplate">
    <li class="app-item" data-bind="">
        <div class="app-item-inner" data-bind="css: AppStatusClass">
            <h4 data-bind="text: Name">
               
            </h4>
            
            <p>
                <span data-bind="if: AgentName" class="app-item-description">
                    Agent :
                    <span data-bind="text: AgentName"></span>
                </span>
            </p>
            @*<p>
                    <span class="app-item-description" data-bind="text: Description"></span>
                </p>*@
            <span class="app-item-status" data-bind="css: AppStatusTextClass"><small data-bind="text: AppStatusText"></small>

                <span class="pull-right">
                    <button class="btn btn-xs btn-link" type="button" title="Edit Application" data-bind="click: drilldown"><span class="glyphicon glyphicon-dashboard"></span></button>
                    <button class="btn btn-xs btn-link" type="button" title="Drilldown Application" data-bind="click: edit"><span class="glyphicon glyphicon-pencil"></span></button>


                </span>

            </span>
        </div>
    </li>
</script>